.button {
  padding: 10px 30px;
  border: none;
  background: $color-main;
  transition: 0.6s ease;

  &__text {
    color: #fff;

    &_dark {
      color: #333;
    }
  }

  &:hover {
    transform: scale(1.1);
}

&_bd_orange {
  border: 2px solid $color-main;
  background: $bg;
}
}