.button {
  padding: 10px 30px;
  border: none;
  background: $color-main;
  transition: 0.6s ease;

  &_w_auto {
    width: 100%;
  }

  &_lg {
    width: 100%;
  }

  &_blue {
    margin-top: 15px;
    background: $color-main--blue;
  }

  &__text {
    color: #fff;

    &_dark {
      color: #333;
      @media (max-width: 769px) {
        & {
          font-size: 12px;
        }
      }
    }
  }

  &:hover {
    transform: scale(1.1);
}

&_bd_orange {
  border: 2px solid $color-main;
  background: $bg;

  @media (max-width: 769px) {
    & {
      padding: 7px 12px;
      margin-right: 10px;
    }
  }
}
}