.flat {
  text-align: center;
  margin-bottom: 15px;

  &__img {
    cursor: pointer;

    &_h_220 {
      height: 220px;
    }
    

    &-info {
    margin: 0;
    margin-top: 10px;
    }

    &-price {
      color: $color-main;
    }

    &-wrap {
      width: 100%;
      background: #fff;
      padding: 15px;
      border: 2px solid $color-main--blue;

      &_h_auto {
        height: auto;
      }
    }
  }
}
