body {
  font-family: 'Trebuchet MS Regular';
  background-color: $bg;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: hsl(0, 0%, 27%);
  }
}

.logo {
  width: 46px;
  height: 57px;
}

.white-bg {
  background: #fff;
}

.bg_white {
  background: #fff;
}

#toTop {
  width:100px;
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  background-color: $color-main;
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  position:fixed;
  bottom: 5%; /* отступ кнопки от нижнего края страницы*/
  right:5%;
  cursor:pointer;
  display:none;
  color:rgb(225, 225, 225);
  font-size:14px;
  z-index: 99999;
  }

  .toTop__text {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
      }

  


  