.offer {
  margin-top: 45px;
  background: url(../img/parking-pricing.jpg)no-repeat;
  background-size: 100%;

  &-2 {
    background: url(../img/offer-2.jpg)no-repeat;
  }

  &-3 {
    background: url(../img/offer-3.jpg)no-repeat;
  }

  &_hidden {
    padding-top: 300px;
    visibility: hidden;
    @media (max-width: 769px) {
      & {
        padding-top: 110px;
      }
    }
  }

}