.promotion {
  
  &__card {
    background: #fff;
    padding: 30px;
    text-align: center;
    background: #fff;
    border: 2px solid #008af3;
    margin-bottom: 15px;
    height: 350px;
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 39px;
    font-weight: bold;
  }

  &__name {
    margin-top: 30px;
    font-weight: bold;
  }
  
  &__icon {
    width: 160px;
    height: 121px;
  }
}