@import 'variables';
@import 'fonts';
@import 'global';
@import 'form';
@import 'header';
@import 'logo';
@import 'navbar';
@import 'button';
@import 'promo';
@import 'learn-more';
@import 'apartments';
@import 'flat';
@import 'project';
@import 'info-block';
@import 'project-card';
@import 'infrastructure';
@import 'offer';
@import 'variation';
@import 'calculator';
@import 'choose-flat';
@import 'promotion';
@import 'location';
@import 'footer';
